<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link th:href="@{~/css/profile.css}" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-md" style="background-color: #4ba493;">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
        <img src="/img/logosmall.png" height="60px" width="60px" alt="">
    </a>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/employee}" style="color: white">Back</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container">
<!--    <form th:action="@{/saveEmployee}" th:object = "${employee}" method="post">-->
        <h1 class="text-center">Profile</h1>
        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <h4 class="card-title mt-3">First Name</h4>
                        <p class="card-text mt-3"
                           th:value="${user.firstName}" readonly class="form-control">

                        </p>
                        <h4 class="card-title mt-3">Last Name</h4>
                        <p class="card-text mt-3"
                           th:value="${user.lastName}" readonly class="form-control">

                        </p>
                        <h4 class="card-title mt-3">Email</h4>
                        <p class="card-text mt-3"
                           th:value="${user.email}" readonly class="form-control">

                        </p>
                        <h4 class="card-title mt-3">Phone Number</h4>
                        <p class="card-text mt-3"
                           th:value="${user.phone_number}" readonly class="form-control">

                        </p>
                        <h4 class="card-title mt-3">Department</h4>
                        <p class="card-text mt-3"
                           th:value="${user.department}" readonly class="form-control">

                        </p>
                        <h4 class="card-title mt-3">Salary</h4>
                        <p class="card-text mt-3"
                           th:value="${user.salary}" readonly class="form-control">

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>